.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.site-nav, .main-addr-list, .form-field-checkbox p, .features-list, .features-paragraph, .our-work-list, .our-work-description p, .our-team-list, .social-networks, .clients-list, .projects-list, .project-type, .follow-button {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

button {
  cursor: pointer;
}

footer {
  padding: 60px 0px 60px;
  background-color: #2f303a;
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.current::after {
  content: '';
  display: block;
  margin-top: 28px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-primery, .logo-secondary {
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.logo-primery {
  margin-right: 85px;
  font-size: 26px;
  line-height: 1.19;
}

.logo-secondary {
  font-size: 22px;
  line-height: 1.18;
  color: #ffffff;
}

.logo-web {
  color: #2196f3;
}

.logo-margin {
  display: inline-block;
  margin-bottom: 10px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav > li {
  padding: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav > li:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover, .site-nav a:focus {
  color: #2196f3;
}

.site-nav > li a {
  padding: 32px 0px;
}

.site-nav .current {
  padding-bottom: 0px;
  color: #2196f3;
}

.main-addr {
  margin-left: auto;
}

.main-addr-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-addr-list li:not(:last-child) {
  margin-right: 30px;
}

.main-addr a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-addr a:hover, .main-addr a:focus {
  color: #2196f3;
}

.main-addr svg {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-addr a:hover > svg,
.main-addr a:focus > svg {
  color: #2196f3;
  fill: #2196f3;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0px auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/hero.jpg);
  color: #ffffff;
}

.hero-container {
  width: 646px;
  margin: 0px auto;
  padding: 200px 0px;
  text-align: center;
}

.hero-title {
  margin: 0px 0px 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-style: none;
  background-color: #2196f3;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
}

.submit-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit-button-container > button {
  width: 200px;
  height: 50px;
  padding: 0px;
  background-color: #2196f3;
  border-style: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button-container > button:hover, .submit-button-container > button:focus {
  background-color: #188ce8;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover svg,
.close:focus svg {
  fill: #2196f3;
}

.modal-section {
  padding: 40px;
}

.modal-title {
  margin: 0px 0px 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field, .form-field-textarea {
  position: relative;
  margin-bottom: 28px;
}

.form-field input[type='text'], .form-field-textarea input[type='text'],
.form-field input[type='tel'],
.form-field-textarea input[type='tel'],
.form-field input[type='email'],
.form-field-textarea input[type='email'],
.form-field textarea,
.form-field-textarea textarea {
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-field textarea,
.form-field-textarea textarea {
  padding: 12px 16px;
  resize: none;
}

.form-field label[for='name'], .form-field-textarea label[for='name'],
.form-field label[for='tel'],
.form-field-textarea label[for='tel'],
.form-field label[for='email'],
.form-field-textarea label[for='email'] {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: text;
}

.form-field svg, .form-field-textarea svg {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field, .form-field-textarea {
  position: relative;
  margin-bottom: 28px;
}

.form-field input[type='text'], .form-field-textarea input[type='text'],
.form-field input[type='tel'],
.form-field-textarea input[type='tel'],
.form-field input[type='email'],
.form-field-textarea input[type='email'],
.form-field textarea,
.form-field-textarea textarea {
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input[type='text']:focus, .form-field-textarea input[type='text']:focus,
.form-field input[type='tel']:focus,
.form-field-textarea input[type='tel']:focus,
.form-field input[type='email']:focus,
.form-field-textarea input[type='email']:focus,
.form-field textarea:focus,
.form-field-textarea textarea:focus {
  border-color: #2196f3;
}


.form-field textarea,
.form-field-textarea textarea {
  padding: 12px 16px;
  resize: none;
}

.form-field label[for='name'], .form-field-textarea label[for='name'],
.form-field label[for='tel'],
.form-field-textarea label[for='tel'],
.form-field label[for='email'],
.form-field-textarea label[for='email'] {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: text;
}

.form-field svg, .form-field-textarea svg {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus + label, .form-field-textarea input:focus + label,
.form-field input:not(:placeholder-shown) + label,
.form-field-textarea input:not(:placeholder-shown) + label {
  -webkit-transform: translate(-26px, -40px);
          transform: translate(-26px, -40px);
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
  cursor: default;
}

.form-field input:focus ~ svg, .form-field-textarea input:focus ~ svg,
.form-field input:not(:placeholder-shown) ~ svg,
.form-field-textarea input:not(:placeholder-shown) ~ svg {
  fill: #2196f3;
}

.form-field-textarea {
  margin-bottom: 20px;
}

.form-field-textarea label {
  position: absolute;
  top: 10px;
  left: 16px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: text;
}

.form-field textarea:focus + label, .form-field-textarea textarea:focus + label,
.form-field textarea:not(:placeholder-shown) + label,
.form-field-textarea textarea:not(:placeholder-shown) + label {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
  cursor: default;
}

.form-field.form-field-checkbox label[for='policy'], .form-field-checkbox.form-field-textarea label[for='policy'] {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-field-checkbox a {
  display: inline;
  text-decoration: underline;
  color: #2196f3;
}

.form-field-checkbox span {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 2px;
}

.form-field-checkbox input:checked + label > span {
  background-color: #2196f3;
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.features {
  padding: 94px 0px;
  border-bottom: 1px solid #ececec;
}

.features-title-h3 {
  margin: 0px 0px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-list li {
  width: calc((100%-30 * 3) / 4);
}

.features-list li:not(:last-child) {
  margin-right: 30px;
}

.features-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-paragraph {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.our-work {
  padding: 94px 0px;
}

.our-work-title {
  margin: 0px 0px 50px;
}

.our-work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-work-list li {
  width: calc((100%-30 * 3) / 3);
}

.our-work-list li:not(:last-child) {
  margin-right: 30px;
}

.our-work-link {
  position: relative;
  text-align: center;
}

.our-work-description {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.our-team {
  margin: 0px;
  padding: 94px 0px;
  background: #f5f4fa;
}

.our-team .our-team-position {
  color: #757575;
  font-weight: 400;
}

.our-team p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team-title {
  margin: 0px 0px 50px;
  padding: 0px;
}

.our-team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team-list > li {
  width: calc((100%-30 * 3) / 4);
  padding-bottom: 36px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
}

.our-team-list > li:not(:last-child) {
  margin-right: 30px;
}

.our-team-foto {
  margin-bottom: 30px;
}

.our-team-name {
  margin: 0px 0px 10px;
}

.our-team-position {
  margin: 0px 0px 16px;
}

.social-networks svg {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks a {
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks a:hover, .social-networks a:focus {
  background: #2196f3;
}

.social-networks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 44px;
}

.social-networks-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
}

.social-networks a:hover > svg,
.social-networks a:focus > svg {
  fill: #ffffff;
}

.clients {
  margin: 0px;
  padding: 94px 0px;
}

.clients-title {
  margin: 0px 0px 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-list li:not(:last-child) {
  margin-right: 30px;
}

.clients-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list a:hover, .clients-list a:focus {
  border: 1px solid #2196f3;
}

.clients-list svg {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list a:hover > svg,
.clients-list a:focus > svg {
  fill: #2196f3;
}

.main-portofolio {
  padding: 94px 0px;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-item:hover, .projects-list-item:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.projects-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-list-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
}

.project-title {
  margin: 0px 0px 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.project-description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 294px;
  margin: 0px;
  padding: 0px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-item:hover .project-description,
.projects-list-item:focus .project-description {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 50px;
  padding: 0px;
}

.button-list li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  border-width: 0px;
  background-color: #f5f4fa;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.follow-title {
  margin: 0px 0px 21px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.follow-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow-container label {
  position: absolute;
  left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: text;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-container input {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-container input:focus {
  border-color: #2196f3;
  outline: none;
}

.follow-container input:focus + label,
.follow-container input:not(:placeholder-shown) + label {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  color: #2196f3;
  cursor: default;
}

.enter-e-mail {
  display: block;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 0px 15px 16px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
}

.follow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.follow-button-text {
  margin-right: 10px;
}

.social-networks-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-networks-links svg {
  fill: #ffffff;
}

.social-networks-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-links li:not(:last-child) {
  margin-right: 10px;
}

.footer-address > a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address > a:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address > .addr-map {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */