.features {
  padding: 60px 0px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}
.features-title-h3 {
  margin: 0px 0px 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.features-list {
  @extend %margin-padding-none;

  @media screen and (min-width: 768px) {
    @include displayFlex();
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features-list li {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}
.features-blok {
  @include displayFlex();
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background: $secondary-bg-color;
  border-radius: 4px;
}
.features-paragraph {
  @extend %margin-padding-none;

  color: $secondary1-color;
  font-size: 14px;
  line-height: 1.71;
}
