.follow-title {
  margin: 0px 0px 20px;

  color: $secondary2-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.follow-container {
  position: relative;

  @include displayFlex();
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: start;
  }
}
.follow-container label {
  position: absolute;
  left: 16px;
  top: 15px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: text;
  transition: transform $primery-transition, color $primery-transition;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 160px;
    top: 15px;
  }
}

.enter-e-mail:focus + label,
.enter-e-mail:not(:placeholder-shown) + label {
  transform: translateY(-35px);

  color: $accent-color;
  cursor: default;
}
.enter-e-mail {
  @include displayFlex(block);
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
  padding: 9px 0px 9px 16px;

  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $secondary2-color;

  transition: border-color $primery-transition;

  &:focus {
    border-color: $accent-color;
    outline: none;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 360px;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}
.follow-button {
  @extend %margin-padding-none;
  @include displayFlex();
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  background-color: $accent-color;
  color: $secondary2-color;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.follow-button-text {
  margin-right: 10px;
}
