.menu-button {
  @extend %margin-padding-none;
  display: none;

  @media screen and (max-width: 767px) {
    display: block;

    background-color: transparent;
    border: none;
    outline: none;
  }
}
.menu-button > svg {
  fill: $primery-color;
}

.menu-switch-svg:hover > use:first-child {
  fill: $accent-color;
}
@media screen and (min-width: 1200px) {
  .menu-switch-svg:hover {
    fill: $accent-color;
  }
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open + .menu {
  display: block;
}
.menu {
  @include displayFlex();
  align-items: center;

  background-color: $secondary2-color;

  @media screen and (max-width: 767px) {
    position: absolute;
    left: 0px;
    top: 61px;
    z-index: 999;

    display: none;
    width: 100%;
  }
}
.site-nav {
  @extend %margin-padding-none;
  @include displayFlex();
  margin-right: 84px;

  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;

  @media screen and (max-width: 767px) {
    @include displayFlex(block);
    margin-right: 0px;

    font-size: 18px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}
.site-nav > li {
  padding: 0px;

  &:not(:last-child) {
    margin-right: 50px;
  }

  @media screen and (max-width: 767px) {
    padding: 20px 0px;

    &:first-child {
      padding: 60px 0px 20px;
    }

    &:last-child {
      padding: 20px 0px 60px;
    }
    &:not(:last-child) {
      margin-right: 0px;
    }
  }
}
.site-nav a {
  transition: color $primery-transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.site-nav > li a {
  display: inline-block;

  @media screen and (min-width: 768px) {
    padding: 32px 0px;
  }
}
.site-nav .current {
  padding-bottom: 0px;

  color: $accent-color;
}
