@media screen and (max-width: 767px) {
  .main-addr {
    text-align: center;
  }
}
.main-addr a {
  color: $secondary1-color;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color $primery-transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.main-addr svg {
  margin-right: 10px;

  fill: $secondary1-color;

  transition: fill $primery-transition;
}

.main-addr a:hover > svg,
.main-addr a:focus > svg {
  color: $accent-color;
  fill: $accent-color;
}
.main-addr-list {
  @extend %margin-padding-none;

  @media screen and (min-width: 1200px) {
    @include displayFlex();
  }
}
.main-addr-list > li {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &:last-child {
      margin-bottom: 60px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 30px;
    }
  }
}
