.main-addr {
  text-align: center;
}
.main-addr a {
  color: $secondary1-color;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color $primery-transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.main-addr svg {
  margin-right: 10px;

  fill: $secondary1-color;

  transition: fill $primery-transition;
}

.main-addr a:hover > svg,
.main-addr a:focus > svg {
  color: $accent-color;
  fill: $accent-color;
}
.main-addr-list {
  @extend %margin-padding-none;
}
.main-addr-list > li {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  &:last-child {
    margin-bottom: 60px;
  }
}
