.site-nav {
  @extend %margin-padding-none;
  @include displayFlex();
}
.site-nav > li {
  padding: 0px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
.site-nav a {
  transition: color $primery-transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav > li a {
  padding: 32px 0px;
}

.site-nav .current {
  padding-bottom: 0px;

  color: $accent-color;
}
