.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 400px;
  margin: 0px auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/hero/hero-480.jpg);
  background-size: cover;
  color: $secondary2-color;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../img/hero/hero-480@2x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-o-min-device-pixel-ratio: 3/1),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../img/hero/hero-480@3x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../img/hero/hero-768.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../img/hero/hero-768@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../img/hero/hero-768@3x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    height: 600px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../img/hero/hero-1200.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../img/hero/hero-1200@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../img/hero/hero-1200@3x.jpg);
    }
  }
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}
.hero-title {
  margin: 0px 0px 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-button {
  @include displayFlex(inline-block);
  min-width: 200px;
  padding: 10px 32px;

  border-style: none;
  background-color: $accent-color;
  border-radius: 4px;
  color: $secondary2-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
