.main-portofolio {
  padding: 60px 0px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}
.projects-list {
  @include displayFlex();
  flex-wrap: wrap;
  @extend %margin-padding-none;

  @media screen and (min-width: 768px) {
    margin: -15px;
  }
}
.projects-list-item {
  @include displayFlex();

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 15px) / 3);
  }

  transition: all $primery-transition;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.projects-list-content {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
}
.project-title {
  margin: 0px 0px 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  @media screen and (min-width: 768px) {
    width: 306px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.project-type {
  @extend %margin-padding-none;

  color: $secondary1-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.project-description {
  position: absolute;

  @include displayFlex();
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px 24px;

  color: $secondary2-color;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 3.75vw;
  line-height: 1.56;

  transition: transform $primery-transition;

  .projects-list-item:hover &,
  .projects-list-item:focus & {
    transform: translateY(-100%);
  }

  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}
.button-list {
  @include displayFlex();
  flex-wrap: wrap;
  @extend %margin-padding-none;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.button-list li {
  margin-bottom: 0px;

  &:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (max-width: 767px) {
    &:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }
}

.portfolio-button {
  padding: 6px 22px;

  color: $primery-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  border-width: 0px;
  background-color: $secondary-bg-color;

  transition: all $primery-transition;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $secondary2-color;
  }
}
