.footer-address > a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer-address > .addr-map {
  color: $secondary2-color;
}
