.follow-title {
  margin: 0px 0px 21px;

  color: $secondary2-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.follow-container {
  position: relative;

  @include displayFlex();
  align-items: center;
}
.follow-container label {
  position: absolute;
  left: 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: text;
  transition: transform $primery-transition, color $primery-transition;
}
.follow-container input {
  transition: border-color $primery-transition;

  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.follow-container input:focus + label,
.follow-container input:not(:placeholder-shown) + label {
  transform: translateY(-35px);

  color: $accent-color;
  cursor: default;
}
.enter-e-mail {
  @include displayFlex(block);
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 0px 15px 16px;

  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $secondary2-color;
}
.follow-button {
  @extend %margin-padding-none;
  @include displayFlex();
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  background-color: $accent-color;
  color: $secondary2-color;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.follow-button-text {
  margin-right: 10px;
}
